.footer {
  //grid-column: 2/5;
  grid-area: footer;
  grid-template: minmax(63px, 1fr) 1fr minmax(63px, 1fr) / 1fr;
  grid-template-areas:
    "logo"
    "item"
    "copy";

  &__logo {
    display: grid;
    //grid-template-columns: 1fr;
    justify-items: center;
    grid-column: 2/3;
    grid-area: logo;
  }

  &__icon {
  }

  &__text {
  }

  &__big-text {
  }

  &__small-text {
  }

  &__content {
    display: grid;
    grid-area: item;
    grid-template-columns: 1fr repeat(5, minmax(auto, 347px)) 1fr;
    //grid-column: 2/3;
  }

  &__info {
   
  }

  &__list {
    grid-column: 2/3;
  }

  &__item {
    &_first {
    }
  }

  &__link {
  }

  &__btn {
  }

  &__footer {
    grid-area: footer;
  }

  &__copy {
  }

  &__social {
  }
}
.logo {
}
.logo-icon {
}
.logo-text {
}
.logo-big {
}
.logo-small {
}
.btn {
}
.social-icon {
  &__icon {
  }
}
