.footer {
  //grid-column: 2/5;
  grid-area: footer;
  grid-template-columns:  repeat(3)/ 1fr minmax(auto, 1800px) 1fr;
  //grid-row: 3/4;


  &__logo {
    display: grid;
//grid-template-columns: 1fr;
justify-items: center;
grid-column: 2/3;
  }

  &__icon {
  }

  &__text {
  }

  &__big-text {
  }

  &__small-text {
  }

  &__content {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: repeat(5, minmax(auto,347px));
  }

  &__info {
  }

  &__list {
  }

  &__item {

    &_first {
    }
  }

  &__link {
  }

  &__btn {
  }

  &__footer {
  }

  &__copy {
  }

  &__social {
  }
}
.logo {
}
.logo-icon {
}
.logo-text {
}
.logo-big {
}
.logo-small {
}
.btn {
}
.social-icon {

  &__icon {
  }
}
