.header {
  display: grid;
  grid-template: 1fr / minmax(150px, 345px) minmax(auto, 1110px) minmax(auto, 345px);
  grid-area: header;
  padding: 24px 0;
  align-items: center;
  @media (max-width: 768px) {
  
  }

  &__menu {
    align-items: center;
    //display: grid;
  }

  &__info {
    grid-column: 3/4;
  }

  &__logo {
    grid-column: 1/2;
    align-items: center;
    //display: grid;
    //
  }
}
.info {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 1fr minmax(2fr, auto);
  align-items: center;
  justify-items: end;
  @media (max-width: 1350px) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  }
  @media (max-width: 1000px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-left: -40px;
  }

  &__lang {
    grid-column: 2/3;
    display: flex;
    gap: 8px;
    @media (max-width: 1350px) {
      justify-items: end;
    }
  }

  &__link {
    text-transform: uppercase;
    color: #929292;
    transition: all 0.3s ease;

    line-height: 17px;

    &:hover,
    &:focus,
    &:active {
      color: #fcd54c;
    }
  }

  &__phone {
    grid-column: 3/4;
    align-items: center;
    color: #fff;
    transition: all 0.3s ease;

    font-size: 16px;

    line-height: 19px;
    &:hover,
    &:focus,
    &:active {
      color: #fcd54c;
    }
    @media (max-width: 1000px) {
      display: none;
    }
    &_icon {
      @media (min-width: 1001px) {
        display: none;
      }
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        background-color: rgba(255, 255, 255, 0.3);
      }
      & svg {
        width: 20px;
        height: 20px;
        path {
          fill: #fff;
        }
      }
    }
  }
}

.logo {
  position: relative;
  display: flex;
  //align-items: center;
}

.logo-icon {
  //position: absolute;
}
.logo-text {
  margin-left: -25px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fff;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    color: #fcd54c;
  }
  //  position: relative;
  //align-items: center;
}
.logo-big {
  margin-top: -7px;

  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
}
.logo-small {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 11px;
  line-height: 13px;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-column: 2/3;
  grid-template-columns: minmax(180px, 380px) minmax(0, 622px) minmax(100px, 165px);

  &__list {
    display: grid;
    justify-items: start;
    grid-auto-flow: column;
    grid-column: 1/2;
    @media (max-width: 1000px) {
      justify-items: end;
      gap: 10px;
    }
  }
  &__item {
  }
  &__link {
    color: #fff;
    transition: all 0.3s ease;
    text-transform: uppercase;
    &:hover,
    &:focus,
    &:active {
      color: #fcd54c;
    }
  }
  &__btn {
    justify-items: end;
    line-height: 16px;
    grid-column: 3/5;
    margin-left: 30px;
  }
}
.btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: #000;
  padding: 12px 14px;
  background-color: #fcd54c;
  transition: all 0.3s ease;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(252, 213, 76, 0.1);
    color: #fcd54c;
  }
}
