.main {
  //grid-column: 2/5;
  grid-area: body;
  //grid-row: 2/3;
  // grid-template-columns: 1fr/ 1fr minmax(auto, 1800px) 1fr;
}

.home {
  grid-template: repeat(6, minmax(150px, auto)) / repeat(5, minmax(360px, auto));
  //background: url(../images/home-bg.png) no-repeat 100% 0/cover;

  

  &__title {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/5;
  }

  &__content {
    grid-column: 2/6;
    grid-row: 6/7;
  }

  &__items {
  }

  &__item {
    &_prev {
    }

    &_next {
    }
  }
}
.title {
  &__up {
  }

  &__center {
  }

  &__down {
  }
}
