/*.main {
  //grid-column: 2/5;
  grid-area: body;
  //grid-row: 2/3;
  // grid-template: minmax(auto, 990px) 1fr 1fr/ 1fr ;
}

.home {
  //grid-column: 1/2;
  display: grid;
  grid-template: repeat(6, minmax(auto, 162px)) / repeat(5, minmax(auto, 360px));
  background: url(../images/home-bg.png) no-repeat 100% 0 / cover;

  &__title {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/5;
  }
  &__content {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    &_num {
      font-family: "Gilroy", sans-serif;
      font-size: 60px;
      font-weight: 700;
      line-height: 24px;
    }
    &_num-first {
      color: #fcd54c;
    }

    &_prev,
    &_next {
      font-size: 30px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:hover,
      &:focus,
      &:active {
        color: #fcd54c;
      }
    }
    &_prev {
      color: #fff;
      position: relative;
      &::after {
        content: "";
        position: absolute;

        width: 20px;
        height: 1px;
        background-color: #fff;
        top: 50%;
        left: 85px;
        transform: rotate(90deg);
      }
    }
    &_next {
      color: rgba(255, 255, 255, 0.6);
      margin-left: 26px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

    &_navigation {
      // display: grid;
      grid-column: 2/3;
      grid-row: 6;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_two {
      grid-column: 3/4;
      grid-row: 6/7;
      background-color: #272727;
    }
    &_three {
      grid-column: 4/5;
      grid-row: 6/7;
      background-color: #272727;
    }
    &_four {
      grid-column: 5/6;
      grid-row: 6/7;
      background-color: #272727;
    }
  }
  &__social {
  }
}
.social-icon__home {
  display: flex;
  flex-direction: column;
  grid-column: 5/6;
  grid-row: 1/3;
  align-items: end;
  margin-right: 20px;
  margin-top: 40px;
  gap: 20px;
}
.title {
  // display: grid;
  grid-column: 2/4;
  grid-row: 3/5;
  display: flex;

  flex-direction: column;
  gap: 22px;
  position: relative;
  &__border {
    position: absolute;
    top: -18%;
    left: -5%;
  }
  &__up {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

  &__center {
    font-family: "Space Grotesk", sans-serif;
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    span {
      color: #fcd54c;
    }
  }

  &__down {
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
  }
}
*/