@import "./config/fonts";
@import "./config/variables";
@import "./config/functions";
@import "./config/mixins";
@import "./config/reset";

.header {
  display: grid;
  grid-template-columns: 1fr/ 1fr minmax(auto, 345px) minmax(auto, 1110px) minmax(auto, 345px) 1fr;
  grid-area: header;
  padding: 24px 0;

  &__menu {
    //align-items: center;
    //display: grid;
  }

  &__info {
    grid-column: 4/5;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas:
      "none"
      "lang"
      "number";
  }

  &__logo {
   
    //display: grid;
    //
  }
}
.info {

  &__lang {
    grid-area: lang;
    grid-column:2/3;
  }

  &__link {
    text-transform: uppercase;
    color:#929292;
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
      color: #FCD54C;
    }
  }

  &__phone {
    grid-area: phone;
    grid-column: 3/4;
    color: #fff;
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
      color: #FCD54C;
    }
  }
}

.logo {
  grid-column: 2/3;
  display: flex;
 
  //align-items: center;

  &__icon {
    // position: absolute;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #fff;
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
      color: #FCD54C;
    }
    //  position: relative;
    //align-items: center;
  }
  &__big-text {
    font-family: Gilroy;
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
  }
  &__small-text {
    font-family: Work Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.6);
    
  }
}
.menu {
  display: grid;
  grid-auto-flow: column;
  grid-column: 3/4;

  //grid-template-columns: repeat(4, minmax(1fr, 92px)) 1fr minmax(1fr, 165px);
  &__list {
    display: grid;
    justify-items: start;
    grid-auto-flow: column;
  }
  &__item {
  }
  &__link {
    color: #fff;
    transition: all 0.3s ease;
    &:hover, &:focus, &:active {
      color: #FCD54C;
    }
  }
  &__btn {
    justify-items: end;
  }
}
.body {
  //grid-column: 2/5;
  grid-area: body;
}
.footer {
  //grid-column: 2/5;
  grid-area: footer;
}
